/test

/ros_objdetect/data


.png
.jpg


.git/objects/0c/tmp_obj_gq5eZ8
.git/objects/pack/tmp_pack_EkQ0sJ
.git/objects/pack/pack-6fce3aaf94ef4d23d60bd0b8fdda195e852113ae.pack
.git/objects/pack/pack-f9d9a98427b0d7b4970571f337f69c5671ab57bf.pack
.git/objects/pack/pack-7d973964e6856d855a2aeaab99d08e478e120e94.pack
isaac_ros_ws/build/isaac_ros_r2b_galileo/
isaac_ros_ws/src/*
isaac_ros_ws/build/
isaac_ros_ws/install/
isaac_ros_ws/log/
.pt
/microros_ws/*/

/isaac_ros_ws/src/*