/test

/ros_objdetect/data


.png
.jpg
/isaac_ws/venv



.git/objects/0c/tmp_obj_gq5eZ8
.git/objects/pack/tmp_pack_EkQ0sJ
.git/objects/pack/pack-6fce3aaf94ef4d23d60bd0b8fdda195e852113ae.pack
.git/objects/pack/pack-f9d9a98427b0d7b4970571f337f69c5671ab57bf.pack
.git/objects/pack/pack-7d973964e6856d855a2aeaab99d08e478e120e94.pack
isaac_ros_ws/build/isaac_ros_r2b_galileo/_deps/mcap-src/r2b_galileo_0.mcap
isaac_ros_ws/build/isaac_ros_r2b_galileo/data/r2b_galileo/r2b_galileo_0.mcap
isaac_ros_ws/src/isaac_ros_visual_odometry/.git/lfs/objects/9b/70/9b70c0b936c2b4d0da553b9156a33ca9d2613acf31e933b386343635377995f7
isaac_ros_ws/src/isaac_ros_visual_odometry/isaac_ros_visual_slam/test/test_cases/rosbags/r2b_galileo/r2b_galileo_0.mcap
isaac_ros_ws/src/ros2_benchmark/ros2_benchmark/test/pol.bag/pol.bag_0.db3
isaac_ros_ws/src/ros2_benchmark/.git/lfs/objects/d6/93/d6939329187f70a543826896f652c7db831eda93fc764db9de2e2afc1f619dbe
isaac_ros_ws/src/isaac_ros_dnn_inference/.git/lfs/objects/fa/b4/fab42a02c2625b4be171f9b0d9b579bd2279858bac19988d04b21639ddae46f7
isaac_ros_ws/src/isaac_ros_dnn_inference/test/models/dope_ketchup_pol.onnx
isaac_ros_ws/src/isaac_ros_dnn_inference/test/models/dope_ketchup_pol/1/model.onnx
isaac_ros_ws/src/isaac_ros_nitros/.git/lfs/objects/14/a4/14a4d829dc8baf05c2e1c60d7d66d1e924add3cf5d313124deca670050cea989
isaac_ros_ws/src/isaac_ros_nitros/.git/lfs/objects/ac/a0/aca0bfa2cbb013092f93fe3e83dd6608090d88d8b34c0c80dcff5e464f41357e
isaac_ros_ws/src/isaac_ros_nitros/isaac_ros_nitros_bridge/resources/quickstart.bag/quickstart.bag_0.db3.zstd
isaac_ros_ws/src/isaac_ros_nitros/isaac_ros_nitros_bridge/resources/quickstart.bag/quickstart.bag_0.db3
isaac_ros_ws/src/isaac_ros_benchmark/.git/lfs/objects/d6/93/d6939329187f70a543826896f652c7db831eda93fc764db9de2e2afc1f619dbe
isaac_ros_ws/src/isaac_ros_benchmark/isaac_ros_benchmark/test/pol.bag/pol.bag_0.db3
cuda-repo-ubuntu2204-11-8-local_11.8.0-520.61.05-1_amd64.deb.1
